.product {
  padding: 10px;
  border: solid 1px gray;
  border-radius: 0px!important;
}

.productImage {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
}

.cartItem{
  font-size: 20px;
  color: black;
  td{
    padding: 5px 0;
  }
  span{
    color: black;
    margin: 0 3px;
  }
}

.productsGrid, .cart{
  width: 100%;
  padding: 0 20px;
  table{
    width: 100%;
  }
}

.cartHead{
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 1px black;
}

.cartHead th{
  padding: 10px 0;
  width: 25%;
}

.trash {
  font-size: 24px;
  color: black;
}

.totalPrice{
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}
